<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura</Format>
                    <Exclude>[*]System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute,[*]System.Runtime.CompilerServices.CompilerGeneratedAttribute,[*]*.GeneratedCodeAttribute</Exclude>
                    <ExcludeByFile>**/obj/**,**/bin/**</ExcludeByFile>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
